@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

/* montserrat-regular - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserratregular/montserrat-v14-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/montserratregular/montserrat-v14-latin-regular.woff')
      format('woff');
  /* Modern Browsers */
  /* Legacy iOS */
}

/* montserrat-800 - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('../fonts/montserratbold/montserrat-v14-latin-800.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../fonts/montserratbold/montserrat-v14-latin-800.woff')
      format('woff');
  /* Modern Browsers */
  /* Legacy iOS */
}
