$main-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;
$therd-font-family: 'Kaushan Script', cursive;
$title-decoration-font-family: 'Kaushan Script', cursive;
$main-color: #f38181;
$secondary-color: #fce38a;
$banner-text-color: #ffffff;
$main-color-titles: #333333;
$main-color-description: #999999;
$footer-color: #e5e5e5;
$icon-service--color: #95e1d3;
