.email-input {
  width: 231px;
  height: 41px;
  border: 1px solid $footer-color;
  padding-left: 10px;
  color: $main-color-titles;
  font-family: $secondary-font-family;
  font-weight: 300;
  font-style: italic;
}
