.subscribe-button {
  border: none;
  width: 151px;
  height: 41px;
  background-color: $icon-service--color;
  color: $banner-text-color;
  text-transform: uppercase;
  cursor: pointer;
  font-family: $main-font-family;
}
