.service {
  &__list {
    @include flex();
    list-style: none;
    flex-flow: wrap row;
    margin-bottom: 85px;

    & li:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
  &__item {
    position: relative;
    width: 350px;
    margin-bottom: 100px;
    & p,
    & h3 {
      padding-left: 55px;
    }
  }
  &__list &__icon {
    position: absolute;
    display: inline-block;
    content: '';
    width: 33px;
    height: 33px;
    top: 10px;
    left: 5px;
    background-size: contain;
  }
  &__title {
    @extend %list-title;
  }
  &__description {
    @extend %list-description;
  }
}
